<!DOCTYPE html>
<html>
<script src="scripts/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-sanitize.js"></script>
<script src="scripts/angular-ui-router.js"></script>
<script src="scripts/crypto-core.js"></script>

<script src="controllers/mainController.js"></script>

<script src="controllers/summaryController.js"></script>
<script src="controllers/helloController.js"></script>
<script src="controllers/financialReportCtrl.js"></script>
<script src="controllers/emailMembersCtrl.js"></script>

<script src="directives/routingConfig.js"></script>

<script src="scripts/xlsx.full.min.js"></script>
<script src="scripts/jszip.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="styles/smcfinancemain.css">
<link rel="stylesheet" href="styles/common.css">
<!--<script src="controllers/googleAuth.js"></script>-->
<script src="https://apis.google.com/js/api.js"></script>

<head>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
</head>

<body>
  <div id="loader" class="loaderFullPageTransparent">
    <div class="lds-ellipsis">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>

  <div ng-app="smcFinance">
    <div ng-controller="mainCtrl">
      <div style="height: 155px">
        <div class="modal fade" id="passwordPromptModal" tabindex="-1" role="dialog" aria-labelledby="passwordPromptModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document" ng-init="showPassPhrasePrompt()">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="passwordPromptModalLabel">Enter password to retrieve data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
              </div>
              <form>

                <div class="modal-body">
                  <div class="form-group">
                    <label for="passphrase">Password</label>
                    <input type="text" class="form-control" id="passphrase" placeholder="Enter Password" ng-model="passphrase" autofocus>
                  </div>


                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-secondary" ng-click="decryptURLsAndGetData()" data-dismiss="modal">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="centrediv">
          <div style="height:100;">
            <button id="sign-in-or-out-button" style="margin-left: 25px;margin-top:10px" onClick="handleClientLoad()">Sign In</button>
            <div id="auth-status" style="display: inline; padding-left: 25px"></div>
            <input style="margin-right: 25px;float: right;;margin-top:10px" class="centreInput" type="file" custom-on-change="uploadFile"
            />
            <hr>
          </div>
          <div>

            <div style="display:inline-block">
              <div style="display:inline-block;margin-left:25px">Select google drive folder - </div>
              <button ng-repeat="year in availableDataYearsInfo" style="margin-right: 10px" type="button" class="btn btn-primary" ng-click=listFilesInFolder(year.folderID)>{{year.folderName}}</button>
            </div>
            <div style="margin-top:10px" ng-show="cashFlowFiles!=undefined && cashFlowFiles.length>0">
              <div style="display:inline-block;margin-left:25px">Select file and click LOAD - </div>
              <div style="display:inline-block">
                <select id="gDriveFileSelectionDropDown">
              <option ng-repeat="cashFlowfile in cashFlowFiles" value={{cashFlowfile.fileID}}><u>{{cashFlowfile.fileName}}</u></option>
              </select>

                <button class="buttonload" ng-click="loadExcelFromGDrive()"><i id="loaderButton" class="fa fa-spinner fa-spin"></i>LOAD</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr style="height:2px;background-color:black">
      <div style="margin-left:25px;">
        <button type="button" class="btn btn-primary" ui-sref="summary">Quick Summary</button>
        <button type="button" class="btn btn-primary" ui-sref="financialReport">Financial Report</button>
        <button type="button" class="btn btn-primary" ui-sref="missionFund">Mission Fund</button>
        <button type="button" class="btn btn-primary" ui-sref="emailMembers">Email Members</button>

      </div>
      <hr>
    </div>
    <div style="overflow:auto">
      <ui-view></ui-view>
    </div>
  </div>

</body>

</html>