<!DOCTYPE html>
<html>

<body>
    <div ng-controller="emailMembersCtrl" style="margin:5px" ng-init="formLoad()">
        <div class="smcFormInput">
            <div><b>YEAR:</b> <br/>
                <input ng-model="year"></div>
        </div>
        <div class="smcFormInput">
            <div><b>Voluntary Contributions:</b>
                <div ng-repeat="usualContribution in voluntaryContributions">
                    <i>Category:</i><input ng-model="usualContribution.category">&nbsp;
                    <i>Suggested Amount:</i><input ng-model="usualContribution.suggestedAmount">
                    <i class="fa fa-plus" style="cursor:pointer" aria-hidden="true"></i>
                    <i class="fa fa-minus" style="cursor:pointer" aria-hidden="true"></i><br></div>
            </div>
        </div>
        <div class="smcFormInput">
            <div><b>Treasurer Name:</b><br/>
                <input ng-model="treasurerName"></div>
        </div>
        <div class="smcFormInput">
            <div><b>Email Subject:</b><br/>
                <input ng-model="emailSubject"></div>
        </div>
        <div class="smcFormInput">
            <div><b>Email CC List(Comma Seperated):</b><br/>
                <input ng-model="emailCCList"></div>
        </div>

        <div class="smcFormInput">
            <button type="button" class="btn btn-primary" ng-click="calculateEmailData()">Refresh</button>
        </div>
        <div class="smcFormInput">
            <button ng-click="sendEmailtoMembers()" class="btn btn-danger">Send Emails</button>
        </div>
        <div>
            <span>Member Count - {{memberCount}}</span>
            <span ng-click="showValidationList=!showValidationList" style="cursor:pointer;color:red"><b>View Validation List</b></span>
            <span ng-click="showDetailsForAll=!showDetailsForAll" style="cursor:pointer;color:blue"><b>Show/Hide MemberDetails</b></span>
            <div ng-show="showValidationList===true">
                <br>
                <span ng-show="validationList!==undefined && validationList.length>0">These are credit entries for a member, but are marked with <b>NO</b> for the IsMember column</span>
                <span ng-show="validationList===undefined || validationList.length===0">No validation entries found!</span>
                <br>
                <table>
                    <tr ng-repeat="validationItem in validationList track by $index">
                        <td>{{validationItem.date}}</td>
                        <td>{{validationItem.fromOrTo}}</td>
                        <td>{{validationItem.subReason}}</td>
                        <td>{{validationItem.amount}}</td>
                    </tr>
                </table>
            </div>

        </div>
        <div>
            <hr>
            <div>
                <button ng-click="selectAllForEmail()">SELECT ALL</button>
                <button ng-click="unSelectAllForEmail()">UN-SELECT ALL</button>
                <button ng-disabled="showDetailsForAll==true" ng-click="showDetailsForAll=true">EXPAND ALL</button>
                <button ng-disabled="showDetailsForAll==false" ng-click="showDetailsForAll=false">COLLAPSE ALL</button>
            </div>
            <div style="display:inline-block;width:50%">

                <div ng-repeat="(memberName, memberDetail) in memberDetails">
                    <div style="padding:2px;width:100%;"><b style="cursor:pointer" ng-click="showEmailContentForMember(memberName)"> -- {{memberName}} -- </b>
                        <span ng-show="memberDetail.contact!=undefined && memberDetail.contact.email!=undefined">(email:- {{memberDetail.contact.email}})</span>
                        <i class="fa fa-check" aria-hidden="true" style="color:green" ng-show="memberDetail.emailSent===true">SENT</i>
                        <span ng-show="memberDetail.contact==undefined || memberDetail.contact.email==undefined" style="color:red">NO EMAIL !!</span>
                        <span ng-show="memberDetail.credits==undefined && memberDetail.dues==undefined && memberDetail.collectibles==undefined" style="color:red">NO DATA !!</span>
                        <input type="checkbox" ng-model="memberDetail.needToSendEmail" />
                        <br/> </div>
                    <div id={{memberName}} ng-show="showDetailsForAll==true">

                        Dear {{memberName}},
                        <br/>
                        <br/>
                        <p>Thank you for your continued support to our church</p>
                        <div ng-show="memberDetail.credits!=undefined">
                            <p>Below is the information regarding the payments you have done to our Church till today for year
                                {{year}}
                            </p>
                            <table style="border-collapse: collapse;">
                                <tr>
                                    <th style="border: 1px solid black; border-color: green; padding: 4px;">Transaction Date</th>
                                    <th style="border: 1px solid black; border-color: green; padding: 4px;">Category</th>
                                    <th style="border: 1px solid black; border-color: green; padding: 4px;">Amount</th>
                                    <th style="border: 1px solid black; border-color: green; padding: 4px;">Mode Of Payment</th>
                                </tr>
                                <tr ng-repeat="creditTxn in memberDetail.credits">
                                    <td style="border: 1px solid black; border-color: green; padding: 4px;">{{creditTxn.date}}</td>
                                    <td style="border: 1px solid black; border-color: green; padding: 4px;">{{creditTxn.reason}}</td>
                                    <td style="border: 1px solid black; border-color: green; padding: 4px;">$ {{creditTxn.amount}}</td>
                                    <td style="border: 1px solid black; border-color: green; padding: 4px;">{{creditTxn.modeOfTxn}}</td>
                                </tr>

                            </table>
                        </div>
                        <div ng-show="(memberDetail.dues!=undefined && memberDetail.dues.length>0) ||( memberDetail.collectibles!=undefined && memberDetail.collectibles.length>0)">
                            <br/>
                            <p>Below are the payments remaining for year {{year}}</p>
                            <br/>
                            <div ng-show="memberDetail.dues!=undefined && memberDetail.dues.length>0">

                                <table style="border-collapse: collapse;">
                                    <tr>
                                        <th colspan="3" style="border: 1px solid black; border-color: green; padding: 4px;text-align:center">
                                            Mandatory Dues
                                        </th>
                                    </tr>
                                    <tr>
                                        <th style="border: 1px solid black; border-color: green; padding: 4px;">Category</th>
                                        <th style="border: 1px solid black; border-color: green; padding: 4px;">Amount Paid</th>
                                        <th style="border: 1px solid black; border-color: green; padding: 4px;">Amount Pending</th>
                                    </tr>
                                    <tr ng-repeat="due in memberDetail.dues">
                                        <td style="border: 1px solid black; border-color: green; padding: 4px;">{{due.category}}</td>
                                        <td style="border: 1px solid black; border-color: green; padding: 4px;">$ {{due.amountPaid}}</td>
                                        <td style="border: 1px solid black; border-color: green; padding: 4px;">$ {{due.amountPending}}</td>
                                    </tr>
                                </table>
                                <br>
                            </div>

                            <div ng-show="memberDetail.collectibles!=undefined && memberDetail.collectibles.length>0">
                                <table style="border-collapse: collapse;">
                                    <tr>
                                        <th colspan="3" style="border: 1px solid black; border-color: green; padding: 4px;text-align:center">
                                            Collectibles
                                        </th>
                                    </tr>
                                    <tr>
                                        <th style="border: 1px solid black; border-color: green; padding: 4px;">Category</th>
                                        <th style="border: 1px solid black; border-color: green; padding: 4px;">Amount Paid</th>
                                        <th style="border: 1px solid black; border-color: green; padding: 4px;">Amount Pending</th>

                                    </tr>
                                    <tr ng-repeat="receivable in memberDetail.collectibles">
                                        <td style="border: 1px solid black; border-color: green; padding: 4px;">{{receivable.category}}</td>
                                        <td style="border: 1px solid black; border-color: green; padding: 4px;">$ {{receivable.amountPaid}}</td>
                                        <td style="border: 1px solid black; border-color: green; padding: 4px;">$ {{receivable.amountPending}}</td>
                                    </tr>
                                </table>
                                <br>
                            </div>
                            <div ng-show="memberDetail.voluntaryContributions!=undefined">
                                <table style="border-collapse: collapse;">
                                    <tr>
                                        <th colspan="2" style="border: 1px solid black; border-color: green; padding: 4px;text-align:center">
                                            Voluntary Contributions
                                        </th>
                                    </tr>
                                    <tr>
                                        <th style="border: 1px solid black; border-color: green; padding: 4px;">Category</th>
                                        <th style="border: 1px solid black; border-color: green; padding: 4px;">Suggested Amount</th>
                                    </tr>
                                    <tr ng-repeat="voluntaryItem in memberDetail.voluntaryContributions">
                                        <td style="border: 1px solid black; border-color: green; padding: 4px;">{{voluntaryItem.category}}</td>
                                        <td style="border: 1px solid black; border-color: green; padding: 4px;">$ {{voluntaryItem.suggestedAmount}}</td>
                                    </tr>
                                </table>
                            </div>
                            <br/>
                            <p>Please see if you can make the payments at the earliest.</p>
                        </div>
                        <p>Please do let us know if you see any discrepencies. </p>

                        <p>Thank you,</p>
                        <span>{{treasurerName}}</span>
                        <br>
                        <span>Treausurer,</span>
                        <br>
                        <span>St. Mary's JSO Church</span>
                        <br/>
                    </div>
                </div>
            </div>
            <div style="display:inline-block;width:30%;vertical-align: top">
                <p ng-bind-html="emailContent"></p>
            </div>
        </div>
</body>

</html>