<!DOCTYPE html>
<html>

<body>
    <div ng-controller="emailMembersCtrl" style="margin:5px" ng-init="formLoad()">
        <div class="smcFormInput">
            <div><b>YEAR:</b> <br/>
                <input ng-model="year"></div>
        </div>
        <div class="smcFormInput">
            <div><b>Voluntary Contributions:</b>
                <div ng-repeat="usualContribution in voluntaryContributions">
                    <i>Category:</i><input ng-model="usualContribution.category">&nbsp;
                    <i>Suggested Amount:</i><input ng-model="usualContribution.suggestedAmount">
                    <i class="fa fa-plus" style="cursor:pointer" aria-hidden="true"></i>
                    <i class="fa fa-minus" style="cursor:pointer" aria-hidden="true"></i><br></div>
            </div>
        </div>
        <div class="smcFormInput">
            <div><b>Treasurer Name:</b><br/>
                <input ng-model="treasurerName"></div>
        </div>
        <div class="smcFormInput">
            <div><b>Email Subject:</b><br/>
                <input ng-model="emailSubject"></div>
        </div>

        <div class="smcFormInput">
            <button type="button" class="btn btn-primary" ng-click="calculateEmailData()">Refresh</button>
        </div>
        <div class="smcFormInput">
            <button ng-click="sendEmailtoMembers()" class="btn btn-danger">Send Emails</button>
        </div>
        <div>
            <span>Member Count - {{memberCount}}</span>
        </div>
        <div>

            <hr>
            <div ng-repeat="(memberName, memberDetail) in memberDetails">
                <div ng-click="memberDetail.show=!memberDetail.show" style="padding:10px;width:100%;background-color:#DCDCDC"><b> -- {{memberName}} -- </b><span ng-show="memberDetail.contact!=undefined && memberDetail.contact.email!=undefined">(email:- {{memberDetail.contact.email}})</span>
                    <span ng-show="memberDetail.contact==undefined || memberDetail.contact.email==undefined" style="color:red">NO EMAIL !!</span>
                    <span ng-show="memberDetail.credits==undefined && memberDetail.dues==undefined && memberDetail.collectibles==undefined" style="color:red">NO DATA !!</span><br/>                    </div>
                <div id={{memberName}} ng-show="memberDetail.show==true">
                    <style>
                        table {
                            border-collapse: collapse;
                        }

                        table,
                        th,
                        td {
                            border: 1px solid black;
                            border-color: green;
                            padding: 4px;
                        }
                    </style>
                    Dear {{memberName}},
                    <br/>
                    <br/>
                    <p>Thank you for your continued support to our church</p>
                    <div ng-show="memberDetail.credits!=undefined">
                        <p>Below is the information regarding the payments you have done to our Church till today for year {{year}}</p>
                        <table>
                            <tr>
                                <th>Transaction Date</th>
                                <th>Category</th>
                                <th>Amount</th>
                                <th>Mode Of Payment</th>
                            </tr>
                            <tr ng-repeat="creditTxn in memberDetail.credits">
                                <td>{{creditTxn.date}}</td>
                                <td>{{creditTxn.reason}}</td>
                                <td>$ {{creditTxn.amount}}</td>
                                <td>{{creditTxn.modeOfTxn}}</td>
                            </tr>

                        </table>
                    </div>
                    <div ng-show="(memberDetail.dues!=undefined && memberDetail.dues.length>0) ||( memberDetail.collectibles!=undefined && memberDetail.collectibles.length>0)">
                        <br/>
                        <p>Below are the payments remaining for year {{year}}</p>
                        <br/>
                        <div ng-show="memberDetail.dues!=undefined && memberDetail.dues.length>0">

                            <table>
                                <tr>
                                    <th colspan="3" style="text-align:center">
                                        Mandatory Dues
                                    </th>
                                </tr>
                                <tr>
                                    <th>Category</th>
                                    <th>Amount Paid</th>
                                    <th>Amount Pending</th>
                                </tr>
                                <tr ng-repeat="due in memberDetail.dues">
                                    <td>{{due.category}}</td>
                                    <td>$ {{due.amountPaid}}</td>
                                    <td>$ {{due.amountPending}}</td>
                                </tr>
                            </table>
                            <br>
                        </div>

                        <div ng-show="memberDetail.collectibles!=undefined && memberDetail.collectibles.length>0">
                            <table>
                                <tr>
                                    <th colspan="3" style="text-align:center">
                                        Collectibles
                                    </th>
                                </tr>
                                <tr>
                                    <th>Category</th>
                                    <th>Amount Paid</th>
                                    <th>Amount Pending</th>

                                </tr>
                                <tr ng-repeat="receivable in memberDetail.collectibles">
                                    <td>{{receivable.category}}</td>
                                    <td>$ {{receivable.amountPaid}}</td>
                                    <td>$ {{receivable.amountPending}}</td>
                                </tr>
                            </table>
                            <br>
                        </div>
                        <div ng-show="memberDetail.voluntaryContributions!=undefined">
                            <table>
                                <tr>
                                    <th colspan="2" style="text-align:center">
                                        Voluntary Contributions
                                    </th>
                                </tr>
                                <tr>
                                    <th>Category</th>
                                    <th>Suggested Amount</th>
                                </tr>
                                <tr ng-repeat="voluntaryItem in memberDetail.voluntaryContributions">
                                    <td>{{voluntaryItem.category}}</td>
                                    <td>$ {{voluntaryItem.suggestedAmount}}</td>
                                </tr>
                            </table>
                        </div>
                        <br/>
                        <p>Please see if you can make the payments at the earliest. Your email is {{memberDetail.contact.email}}</p>
                    </div>
                    <p>Please do let us know if you see any discrepencies. </p>

                    <p>Thank you,</p>
                    <span>{{treasurerName}}</span>
                    <br>
                    <span>Treausurer,</span>
                    <br>
                    <span>St. Mary's JSO Church</span>
                    <br/>
                </div>
                <hr>
            </div>
        </div>
</body>

</html>