/*.centrediv {
    margin: auto;
    text-align: center;
}
.centreInput {
    margin: auto;
    text-align: center;
}
th, td {
    padding: 15px;
    text-align: left;
} 
table
{ 
    margin-left: auto;
    margin-right: auto;
}
*/
table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}
